html body {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
}

form {
    margin-bottom: 50px;
}

.gameboard {
    display: grid;
    /* width: 300px;
    height: 300px; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: rgb(255, 209, 122);
    gap: 5px;
    padding: 5px;
}

.gameboard div {
    outline: 2px solid rgb(182, 114, 4);
    background-color: white;
    outline-offset: -2px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.gameboard div:hover {
    background-color: rgb(255, 235, 199);
}